<div class="task-item" data-id-task="<%= task.id %>" data-toggle="modal" data-target=".bs-example-modal-lg" >
  <div class="task-info">
    <span class="task-title">
      <%= task.name %>
    </span>
    <span class="task-avatar-<%= task.id %>">
      <%= render partial: "users/assignee_item_task", locals: {user: task.user} %>
    </span>
    <span id="block-label-item-task-<%= task.id %>">
      <%= render partial: "labels/label_in_show_project", locals: {labels: task.labels} %>
    </span>
    <div class="block-due-date-task" id="block-due-date-task-<%= task.id %>">
      <%= render partial: "tasks/due_date_task", locals: {task: task} %>
    </div>
    <div class="btn-edit-task">
      <button class="btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
