<div class="task-item" data-id-task="<%= task.id %>" data-toggle="modal" data-target=".bs-example-modal-lg" >
  <div class="task-info">
    <span class="task-title">
      <%= task.name %>
    </span>
    <span class="task-avatar">
      <% if task.user.present? %>
        <% if task.user.avatar.present? %>
          <%= image_tag task.user.avatar, class: "avatar-task-owner", title: task.user.name %>
        <% else %>
          <%= image_tag "https://thesocietypages.org/socimages/files/2009/05/vimeo.jpg", 
            class: "avatar-task-owner", title: task.user.name %>
        <% end %>
      <% end %>
    </span>
    <span id="block-label-item-task-<%= task.id %>">
      <%= render partial: "labels/label_in_show_project", locals: {labels: task.labels} %>
    </span>
    <div class="btn-edit-task">
      <button class="btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
