<div class="row">
  <div class="col-md-9">
    <div class="header-modal">
      <h3>
        <i class="fa fa-braille" aria-hidden="true"></i> 
        <input type="text" name="" class="title-task" value="<%= task.name %>">
      <div class="detail-content">
        <span class="title-position-task">in list <a href=""><%= task.status.name %></a></span>
        <%= hidden_field_tag :task_id, task.id %>
        <br>
        <div class="block-label-modal">
          <%= render partial: "labels/label_in_modal", locals: {labels: @task.labels} %>
        </div>
        <div class="block-due-date-modal">
          <%= render partial: "tasks/due_date_modal", locals: {task: @task} %>
        </div>
        <span class="title-position-task">Description</span> 
        <button data-toggle="collapse" data-target="#show-description-update" 
          class="btn btn-sm show-description-task">
          <i class="fa fa-align-left" aria-hidden="true"></i> Edit the description...
        </button>
        <br>
        <%= form_for [project, task] do |f| %>
	        <div class="collapse" id="show-description-update">
	        	<%= f.text_area :description, class: "form-control form-description-task", rows: "5",
              placeholder: "Add a more detailed description…" %>
	        	<%= f.submit "Save",class: "btn btn-sm btn-success btn-save-description" %>
            <button class="close-edit-description" >&times</button>
	        </div>
        <% end %>
        <p class="description-task"><%= task.description %></p>
      </div>
    </div>
    <div class="content-task">
      <h4><i class="fa fa-comments-o" aria-hidden="true"></i> Add Comment</h4>
      <div class="detail-content-comment">
        <div class="row">
          <div class="col-md-1">
            <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar.url, class: "avatar-comment-task"%>
            <% else %>
              <%= image_tag "https://thesocietypages.org/socimages/files/2009/05/vimeo.jpg", class: "avatar-comment-task" %>
            <% end %>
          </div>
          <div class="col-md-11 box-comment">
            <textarea rows="3" class="form-control comment-textarea" placeholder="Write a comment…"></textarea>
            <button class="btn btn-sm btn-success">save</button>
          </div>
        </div>
      </div>
      <h4><i class="fa fa-tasks" aria-hidden="true"></i> Activity</h4>
      <div class="detail-content">
        <ul class="list-activity">
          <%= render partial: "activities/list_activities", locals: {activities: task.activities} %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3 action-modal-task">
    <h3 class="title">Add</h3>
    <ul class="list-setting">
      <li>
        <button class="btn dropdown-toggle btn-menu-modal-task" type="button" data-toggle="dropdown">
          <i class="fa fa-user" aria-hidden="true"></i> <%= t "project.member" %>
        </button>
        <div class="dropdown-menu">
          <h3><%= t "project.member" %></h3>
          <hr>
          <input type="text" class="search-user-modal form-control" placeholder="Tìm kiếm các thành viên">
          <ul class="list-member-modal">
            <% @member.each do |user| %>
              <li class="item-member-modal">
                <% if user.avatar.present? %>
                  <%= image_tag user.avatar, class: "avatar-item-user-list-member" %>
                <% else %>
                  <%= image_tag "https://thesocietypages.org/socimages/files/2009/05/vimeo.jpg", class: "avatar-item-user-list-member" %>
                <% end %>
                <span><%= user.name %></span>
                <span class="tick-user-handle-task" data-user-on-list-assign=<%= user.id %>>
                  <input id="radio-1" class="radio-custom" name="assignee" type="radio" <%= "checked" if task.user.present? && user.id == task.user.id %>>
                  <label for="radio-1" class="radio-custom-label"></label>
                </span>
              </li>
            <% end %>
          </ul>
          <div class="close-menu">&times</div>
        </div>
      </li>
      <li>
        <button class="btn dropdown-toggle btn-menu-modal-task" type="button" data-toggle="dropdown">
          <i class="fa fa-tags" aria-hidden="true"></i> Labels
        </button>
        <div class="dropdown-menu">
          <h3>Nhãn</h3>
          <hr>
          <input type="text" class="search-user-modal form-control" placeholder="Search members">
          <ul class="list-member-modal">
            <% Label.all.each do |label|%>
              <li class="item-label-modal btn-<%= label.name %>" data-label-id="<%= label.id %>">
                <span style="text-transform: capitalize"><%= label.name %></span>
                <input type="checkbox" class="checked-task" 
                  <%= "checked" if check_task_exists_label? @task, label.id %>>
              </li>
            <% end %> 
          <div class="close-menu">&times</div>
        </div>
      </li>
      <li>
        <button class="btn dropdown-toggle btn-menu-modal-task" type="button" data-toggle="dropdown">
          <i class="fa fa-clock-o" aria-hidden="true"></i> Ngày hết hạn
        </button>
        <div class="dropdown-menu form-due-date">
          <h3>Ngày hết hạn</h3>
          <hr>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <%= text_field_tag :deadline, @task.deadline, class: "form-control" %>
              <span class="input-group-addon btn-date-picker">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-page btn-success change-due-date pull-left" 
                data-task-id="<%= @task.id %>">
                Lưu
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-page btn-danger change-due-date remove-due-date pull-right">
                Hủy ngày hết hạn
              </button>
            </div>  
          </div>
          
          <div class="close-menu">&times</div>
        </div>
      </li>
    </ul>
    <h3 class="title">Actions</h3>
    <ul class="list-setting">
      <button class="btn dropdown-toggle btn-menu-modal-task" type="button" data-toggle="dropdown">
        <i class="fa fa-arrows" aria-hidden="true"></i> Move
      </button>
      <div class="dropdown-menu">
        <h3>Due Date</h3>
        <hr>
        <ul class="list-member-modal">
          <div id='datetimepicker'>
          </div>
            <%= hidden_field_tag :due_date %>
            <button class="btn btn-success change-due-date">
              Save
            </button>
        </ul>
        <div class="close-menu">&times</div>
      </div>
    </ul>
  </div>
</div>