<div class="row">
  <div class="col-md-9">
    <div class="header-modal">
      <h3><i class="fa fa-braille" aria-hidden="true"></i> <%= task.name %></h3>
      <div class="detail-content">
        <span class="title-position-task">in list <a href=""><%= task.status.name %></a></span>
        <%= hidden_field_tag :task_id, task.id %>
        <br>
        <div class="block-label-modal">
          <%= render partial: "labels/label_in_modal", locals: {labels: @task.labels} %>
        </div>
        <br>
        <span class="title-position-task">Description</span> 
        <a data-toggle="collapse" data-target="#show-description-update" class="show-description-task">edit</a>
        <br>
        <%= form_for [project, task] do |f| %>
	        <div class="collapse" id="show-description-update">
	        	<%= f.text_area :description, class: "form-control form-description-task", rows: "5" %>
	        	<%= f.submit :save, class: "btn btn-sm btn-success btn-save-description" %>
	        </div>
        <% end %>
        <p class="description-task"><%= task.description %></p>
      </div>
    </div>
    <div class="content-task">
      <h4><i class="fa fa-comments-o" aria-hidden="true"></i> Add comment</h4>
      <div class="detail-content-comment">
        <div class="row">
          <div class="col-md-1">
            <%= image_tag "avatar.jpg", class: "avatar-comment-task"%>
          </div>
          <div class="col-md-11 box-comment">
            <textarea rows="3" class="form-control comment-textarea">abc</textarea>
            <button class="btn btn-sm btn-success">save</button>
          </div>
        </div>
      </div>
      <h4><i class="fa fa-tasks" aria-hidden="true"></i> Activity</h4>
      <div class="detail-content">
        <ul class="list-activity">
          <%= render partial: "activities/list_activities", locals: {activities: task.activities} %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3 action-modal-task">
    <h3 class="title">Add</h3>
    <ul class="list-setting">
      <li>
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
          <i class="fa fa-user" aria-hidden="true"></i> Members
        </button>
        <div class="dropdown-menu">
          <h3>Members</h3>
          <hr>
          <!-- <input type="text" class="search-user-modal form-control" placeholder="Search members"> -->
          <ul class="list-member-modal">
            <% @member.each do |user| %>
              <li class="item-member-modal">
                <% if user.avatar.present? %>
                  <%= image_tag user.avatar, class: "avatar-item-user-list-member" %>
                <% else %>
                  <%= image_tag "https://thesocietypages.org/socimages/files/2009/05/vimeo.jpg", class: "avatar-item-user-list-member" %>
                <% end %>
                <span><%= user.name %></span>
                <span class="tick-user-handle-task" data-user-on-list-assign=<%= user.id %>>
                  <input type="radio" name="assignee" <%= "checked" if task.user.present? && user.id == task.user.id %> >
                </span>
              </li>
            <% end %>
          </ul>
          <div class="close-menu">&times</div>
        </div>
      </li>
      <li>
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
          <i class="fa fa-tags" aria-hidden="true"></i> Labels
        </button>
        <div class="dropdown-menu">
          <h3>Labels</h3>
          <hr>
          <input type="text" class="search-user-modal form-control" placeholder="Search members">
          <ul class="list-member-modal">
            <% Label.all.each do |label|%>
              <li class="item-label-modal btn-<%= label.name %>" data-label-id="<%= label.id %>">
                <span style="text-transform: capitalize"><%= label.name %></span>
                <input type="checkbox" class="checked-task" 
                  <%= "checked" if check_task_exists_label? @task, label.id %>>
              </li>
            <% end %> 
          <div class="close-menu">&times</div>
        </div>
      </li>
      <li>
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
          <i class="fa fa-clock-o" aria-hidden="true"></i> Due Date
        </button>
        <div class="dropdown-menu">
          <h3>Due Date</h3>
          <hr>
          <ul class="list-member-modal">
          </ul>
          <div class="close-menu">&times</div>
        </div>
      </li>
    </ul>
    <h3 class="title">Actions</h3>
    <ul class="list-setting">
      <li><button class="btn"><i class="fa fa-arrows" aria-hidden="true"></i> Move</button></li>
    </ul>
  </div>
</div>