<div class="row">
  <div id="content" style="background-color: #ffffff">
    <div class="profile-content" style="background-color: #e2e4e6; height: 200px;">
      <div class="row justify-content-md-center">
        <div class="col-md-5 col-md-offset-3 profile-infor">
          <div class="col-md-12">
            <div class="col-md-3">
              <% if @user.avatar.present? %>
                <%= image_tag @user.avatar.url, class: "avatar-profile"%>
              <% else %>
                <%= image_tag "https://thesocietypages.org/socimages/files/2009/05/vimeo.jpg", 
                  class: "avatar-profile" %>
              <% end %>
              <%= form_for @user do |f| %>
                <div class="file-upload">
                  <%= f.file_field :avatar %>
                  <i class="fa fa-camera" aria-hidden="true"></i>
                </div>
              <% end %>
            </div>
            <div class="col-md-9 pull-right">
              <table class="user-infor">
                <tr>
                  <th><%= @user.name%> <span><%= @user.email %></span></th>
                </tr>
                  <tr>
                    <td><button class="btn btn-secondary edit-profile">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <%= link_to "Edit profile", edit_user_path(current_user), method: :patch, remote: :true %></button></td>
                  </tr>
              </table>
              <div class="show-edit-profile" style="display: none;">
                <%= form_for @user do |f| %>
                  <div class="form-group row input-profile">
                    <div class="col-10">
                      <%= f.label :name, "User Name:" %>
                      <%= f.text_field :name, class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group row input-profile">
                    <div class="col-10">
                      <%= f.label :name, "Email:" %>
                      <%= f.text_field :email, class: "form-control" %>
                    </div>
                  </div>
                  <b></b>
                  <div class="form-group row input-profile">
                    <div class="col-10">
                      <%= f.label :name, "Password:" %>
                      <%= f.password_field :password, class: "form-control" %>
                    </div>
                  </div>

                  <b></b>
                  <div class="form-group row input-profile">
                    <div class="col-10">
                      <%= f.label :name, "Password confirmation:" %>
                      <%= f.password_field :password_confirmation, class: "form-control" %>
                    </div>
                  </div>

                  <%= f.submit "Save", class: "btn btn-success" %>
                  <button type="button" class="btn btn-secondary cancel-profile">Cancel</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="position: relative;">
      <div class="body-content col-md-offset-1 col-md-10" style="position: absolute;top: -42px;">
        <div >
          <ul class="nav nav-tabs text-center">
            <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
            <li><a data-toggle="tab" href=".cards">Card</a></li>
            <li><a data-toggle="tab" href=".menu2">Settings</a></li>
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>HOME</h3>
              <p>Some content.</p>
            </div>
            <div class="cards tab-pane fade">
              <br>
              <div class="projects">
                <% @projects.each  do |project| %>
                <% @task = {
                    new: project.tasks.any? ? project.tasks.where(status_id: 1).order("updated_at DESC") : [],
                    in_process: project.tasks.any? ? project.tasks.where(status_id: 2) : [],
                    resolved: project.tasks.any? ? project.tasks.where(status_id: 3) : [],
                    testing: project.tasks.any? ? project.tasks.where(status_id: 4) : [],
                    done: project.tasks.any? ? project.tasks.where(status_id: 5) : []
                  } %>
                  <div class="project">
                    <div class="title" style="clear: both;">
                      <%= project.name %>
                    </div>
                    <div class="content">
                      
                        <div class="item-board" data-type-task="new" style="float: left">
                          <div class="header-board">
                            <span>New</span>
                            <button class="btn btn-sm btn-info-item-board">
                              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                          </div>
                          <div class="task-board" data-status-request="new">
                            <% if @task[:new].any? %>
                              <% @task[:new].each do |task| %>
                                <%= render partial: "tasks/item_task", locals: {task: task} %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      
                      
                        <div class="item-board" data-type-task="in_process" style="float: left">
                          <div class="header-board">
                            <span>In Process</span>
                            <button class="btn btn-sm btn-info-item-board">
                              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                          </div>
                          <div class="task-board" data-status-request="in_process">
                            <% if @task[:in_process].any? %>
                              <% @task[:in_process].each do |task| %>
                                <%= render partial: "tasks/item_task", locals: {task: task} %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      
                      
                        <div class="item-board" data-type-task="resolved" style="float: left">
                          <div class="header-board">
                            <span>Resolved</span>
                            <button class="btn btn-sm btn-info-item-board">
                              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                          </div>
                          <div class="task-board" data-status-request="resolved">
                            <% if @task[:resolved].any? %>
                              <% @task[:resolved].each do |task| %>
                                <%= render partial: "tasks/item_task", locals: {task: task} %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      
                      
                        <div class="item-board" data-type-task="testing" style="float: left">
                          <div class="header-board">
                            <span>Testing</span>
                            <button class="btn btn-sm btn-info-item-board">
                              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                          </div>
                          <div class="task-board" data-status-request="testing">
                            <% if @task[:testing].any? %>
                              <% @task[:testing].each do |task| %>
                                <%= render partial: "tasks/item_task", locals: {task: task} %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      
                      
                        <div class="item-board" data-type-task="done" style="float: left">
                          <div class="header-board">
                            <span>Done</span>
                            <button class="btn btn-sm btn-info-item-board">
                              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                          </div>
                          <div class="task-board" data-status-request="done">
                            <% if @task[:done].any? %>
                              <% @task[:done].each do |task| %>
                                <%= render partial: "tasks/item_task", locals: {task: task} %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="menu2 tab-pane fade">
              <h3>Menu 2</h3>
              <p>Some content in menu 2.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
