<div class="row">
  <div id="content" style="background-color: #ffffff">
    <div class="profile-content" style="background-color: #e2e4e6; height: 200px; position: relative; ">
      <div class="row justify-content-md-center">
        <div class="col-md-5 col-md-offset-4 profile-infor">
          <div class="col-md-12">
            <div class="col-md-3">
              <% unless current_user.avatar.nil? %>
                <%= image_tag @user.avatar.url, class: "avatar-profile"%>
              <% else %>
                <%= image_tag "https://thesocietypages.org/socimages/files/2009/05/vimeo.jpg", 
                  class: "avatar-profile" %>
              <% end %>
              <%= form_for @user do |f| %>
                <div class="file-upload">
                  <%= f.file_field :avatar %>
                  <i class="fa fa-camera" aria-hidden="true"></i>
                </div>
              <% end %>
            </div>
            <div class="col-md-9 pull-right">
              <table class="user-infor">
                <tr>
                  <th><%= @user.name%>(<%= @user.email %>)</th>
                </tr>
                  <tr>
                    <td><button class="btn btn-secondary edit-profile">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <%= link_to "Edit profile", edit_user_path(current_user), medthod: :patch, remote: :true %></button></td>
                  </tr>
              </table>
              <div class="show-edit-profile" style="display: none;">
                <%= form_for @user do |f| %>
                  <div class="form-group row input-profile">
                    <div class="col-10">
                      <%= f.label :name, "User Name:" %>
                      <%= f.text_field :name, class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group row input-profile">
                    <div class="col-10">
                      <%= f.label :name, "Email:" %>
                      <%= f.text_field :email, class: "form-control" %>
                    </div>
                  </div>
                  <b></b>
                  <div class="form-group row input-profile">
                    <div class="col-10">
                      <%= f.label :name, "Password:" %>
                      <%= f.password_field :password, class: "form-control" %>
                    </div>
                  </div>

                  <b></b>
                  <div class="form-group row input-profile">
                    <div class="col-10">
                      <%= f.label :name, "Password confirmation:" %>
                      <%= f.password_field :password_confirmation, class: "form-control" %>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-success">Save</button>
                  <button class="btn btn-secondary cancel-profile">Cancel</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="position: absolute; bottom: -86px; right: 47%">
        <ul class="nav nav-tabs text-center">
          <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
          <li><a data-toggle="tab" href="#menu1">Card</a></li>
          <li><a data-toggle="tab" href="#menu2">Settings</a></li>
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <h3>HOME</h3>
            <p>Some content.</p>
          </div>
          <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
