<div class="item-board" data-type-task="<%= status %>">
  <div class="header-board">
    <span><%= t "task.status.#{status}" %></span>
    <button class="btn btn-sm btn-info-item-board">
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </button>
  </div>
  <div class="task-board connected sortable list" data-status-request="<%= status %>">
    
    <% if @task[status.to_sym].any? %>
      <% @task[status.to_sym].each do |task| %>
        <%= render partial: "tasks/item_task", locals: {task: task} %>
      <% end %>
    <% end %>
    <div class="position-add-task"></div>
    <div class="item-new-task">
      <%= form_for [@project, @project.tasks.build],
        html:{method: :post, :class => "form form-add-task"} do |f| %>
        <%= f.text_area :name, class: "field-info-new-task" %>
        <%= f.submit t("task.add"), class: "btn btn-success btn-add-task" %>
        <button class="btn-close-form-new-task">
        	<i class="fa fa-times" aria-hidden="true"></i>
        </button>
      <% end %>
    </div>
    <div class="footer-board">
      <a href="#"><%= t "task.add_task" %>...</a>
    </div>
  </div>
</div>