<div id="header" class="row">
  <div class="col-md-6 col-xs-6">
    <div class="row left-header-menu pull-left">
      <div class="col-md-2 col-xs-4 logo">
        <%= link_to root_path, class: "btn btn-sm btn-project" do %>
          <strong><i class="fa fa-braille" aria-hidden="true"></i> Project</strong>
        <% end %>
      </div>
      <div class="col-md-5 col-xs-5">
        <span class="input-group stylish-input-group form-search-project">
          <input type="text" class="form-control search-input">
          <span class="input-group-addon ">
            <button type="submit" class="btn-search">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <div class="result hide">
              
            </div>
          </span>
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row right-header-menu pull-right">
      <div class="col-md-2 col-xs-2 col-xs-offset-3 col-md-offset-3">
        <span class="right-dropdown-menu">
          <button class="btn btn-sm btn-icon dropdown-toggle" data-toggle="dropdown">
            <i class="ion-plus-round" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu multi-dropdown">
            <section class="main step step-1" >
              <span class="header">
                Tạo mới
              </span>
              <a class="pop-over-header-close-btn">
                <i class="ion-android-close"></i>
              </a>
              <ul>
                <li class="next-step" data-change-window="2">
                  <a href="#" class="btn-create-new-project">
                    Tạo dự án mới...
                  </a>
                  <span>
                    Một bảng được tạo thành từ các thẻ được sắp xếp trong danh sách. Sử dụng bảng để quản lý các dự án, theo dõi thông tin, hoặc tổ chức bất cứ việc gì.
                  </span>
                </li>
              </ul>
            </section>
            <section class="step step-2">
              <span class="header">
                Tạo dự án mới
              </span>
              <a class="pop-over-header-back-btn">
                <i class="ion-android-arrow-back"></i>
              </a>
              <a class="pop-over-header-close-btn">
                <i class="ion-android-close"></i>
              </a>
              <%= form_for(:project, url: projects_path, html:{method: :post, :class => "form"}) do |f| %>
                <div class="form-group">
                  <%= f.label :name, "Title project" %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :description, "Description project" %>
                  <%= f.text_area :description, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.submit "Create", class: "form-control col-md-2 create-new-project btn btn-success" %>
                </div>
              <% end %>
            </section>
          </div>
        </span>
      </div>

      <div class="col-md-2 col-xs-2">
        <button class="btn btn-sm btn-icon dropdown-toggle" data-toggle="dropdown">
          <i class="ion-ios-help" aria-hidden="true"></i>
        </button>
      </div>

      <div class="col-md-2 col-xs-2">
        <span class="right-dropdown-menu">
          <button class="btn btn-sm btn-icon dropdown-toggle" data-toggle="dropdown">
            <i class="ion-android-notifications-none" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu">
            <span class="header">
              Thông báo
            </span>
            <a class="pop-over-header-close-btn">
              &times
            </a>
            <li><a href="#">HTML</a></li>
          </ul>
        </span>
      </div>
      <div class="col-md-2 col-xs-2">
        <span class="right-dropdown-menu">
          <a href="#" class="show-profile dropdown-toggle" type="button" data-toggle="dropdown">
            <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar.url, class: "img-avatar"%>
            <% else %>
              <%= image_tag "https://thesocietypages.org/socimages/files/2009/05/vimeo.jpg", 
                class: "img-avatar" %>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <span class="header">
              <%= current_user.name %>
            </span>
            <a class="pop-over-header-close-btn">
              &times
            </a>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <hr>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
            <hr>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
