<div id="header" class="row">
  <div class="col-md-6 col-xs-6">
    <div class="row left-header-menu pull-left">
      <div class="col-md-2 col-xs-4 logo">
        <%= link_to root_path, class: "btn btn-sm btn-project" do %>
          <strong><i class="fa fa-braille" aria-hidden="true"></i> Project</strong>
        <% end %>
      </div>
      <div class="col-md-5 col-xs-5">
        <span class="input-group stylish-input-group form-search-project">
          <input type="text" class="form-control search-input">
          <span class="input-group-addon">
            <button type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row right-header-menu pull-right">
      <div class="col-md-2 col-xs-2 col-xs-offset-3 col-md-offset-3">
        <span class="right-dropdown-menu">
          <button class="btn btn-sm btn-project btn-notify dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu">
            <li><h5 class="user-name text-center">Create</h5></li>
            <hr>
            <li>
              <a href="#" class="btn-create-new-project">
                Create new table...
                <p>
                  A board is made up of cards ordered on lists. Use it to manage projects, track information, or organize anything.
                </p>
              </a>
              
            </li>
            <li>
              <a href="#">Create new team...</a>
            </li>
            <div class="close-icon">
              &times
            </div>
          </ul>
          <div class="step-menu form-create-project">
            <li><h5 class="user-name text-center">Create new</h5></li>
            <hr>
            <%= form_for(:project, url: projects_path, html:{method: :post, :class => "form"}) do |f| %>
              <div class="form-group">
                <%= f.label :name, "Title project" %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :description, "Description project" %>
                <%= f.text_area :description, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.submit "Create", class: "form-control col-md-2 create-new-project btn btn-success" %>
              </div>
            <% end %>
            <div class="back-icon">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </div>
            <div class="close-icon">
              &times
            </div>
          </div>
        </span>
      </div>

      <div class="col-md-2 col-xs-2">
        <button class="btn btn-sm btn-project btn-notify">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </button>
      </div>

      <div class="col-md-2 col-xs-2">
        <span class="right-dropdown-menu">
          <button class="btn btn-sm btn-project btn-notify dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu">
            <li><h5 class="user-name text-center">Notification</h5></li>
            <hr>
            <li><a href="#">HTML</a></li>
            <div class="close-icon">
              &times
            </div>
          </ul>
        </span>
      </div>
      <div class="col-md-2 col-xs-2">
        <span class="right-dropdown-menu">
          <a href="#" class="show-profile dropdown-toggle" type="button" data-toggle="dropdown">
            <%= image_tag "avatar.jpg", class: "img-avatar" %>
          </a>
          <ul class="dropdown-menu">
            <li><h5 class="user-name text-center">Vu Duc Tuyen(tuvudu)</h5></li>
            <hr>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <hr>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
            <hr>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <div class="close-icon">
              &times
            </div>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
