<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagermentApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless devise_controller? %>
      <%= render "layouts/header" %>      
    <% end %>
    <%= yield %>
    <div class="container">
      <div class="row">
        <div class="modal fade bs-example-modal-lg modal-show-info" tabindex="-1" 
          role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">

                <!-- #content -->

              </div>
              <div class="icon-close-modal">&times</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
